/* type selectors */
article, aside, figure, footer, header, nav, section {
    display: block;
}
html {
    background-image: -moz-linear-gradient(top, white 0%, #facd8a 100%);
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 1280px;
    background-color: white;
    margin: 15px auto;
    padding: 15px 25px;
    border: 1px solid black;
}
section, aside, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}
section, aside {
    margin-top: 1.5em;
    margin-bottom: 1em;    
}

h1 { font-size: 175%; }
h2 { font-size: 125%; }

a { font-weight: bold; text-decoration: none; }
a:link { color: green; }
a:visited { color: green; }
a.current { color: #ef9c00; }
a:hover, a:focus { color: blue; }

ul { 
    margin-left: 1.5em;
    margin-bottom: 1.5em; 
}
li { padding-bottom: 0.25em; }

p { padding-bottom: 0.5em; }
    
em { font-weight: bold; }

/* the styles for the header */
header { 
    padding-bottom: 2em;
    border-bottom: 2px solid #ef9c00;
}
header h1 {
    color: #ef9c00;
    margin-left: 120px;
    margin-bottom: 0.25em;
}
header h2 {
    color: green;
    font-style: normal;
    margin-left: 120px;
}
header img { 
    float: left;
}

/* the styles for the top navigation bar */
#nav_bar {
    clear: left;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #ef9c00;
    text-align: right;
}
#nav_bar ul {
    margin-bottom: .5em;
    list-style: none;
    padding-top: .5em;
}
#nav_bar li {
    display: inline;
    padding: 0 1.5em;
    border-left: 2px solid black;
}

/* the styles for the side navigation bar */
#sidebarA ul {
    margin-left: 0;
    list-style: none;
}
#sidebarA li {
    margin-bottom: .5em;
}

/* the styles for the section */
section {
    width: 75%;
    padding-right: 20px;
    padding-left: 20px;
    float: left;   
    border-left: 2px solid #ef9c00
}
section h1 {
    margin-bottom: 0.35em; 
}
section h2 {
    margin-bottom: 0.35em;
}
.top_margin {
    margin-top: 1em;
}

/* the styles for the sidebars */
aside h1 {
    font-size: 125%;
    padding-bottom: .5em;
}
aside h2 {
    font-size: 100%;
    color: green;
    padding-bottom: .5em;
}
aside p {
    margin-bottom: .5em;
}
aside img {
    margin-bottom: 1em;    
}
#sidebarA { 
    width: 180px; 
    float: left; 
    height: 180px;
}
#sidebarB { 
    width: 180px; 
    float: right; 
    height: 400px;
    padding-left: 20px;
    border-left: 2px solid #ef9c00;
}


/* the styles for the footer */
footer {
    clear: both;
    margin-top: 1em;
    border-top: 2px solid #ef9c00;
    padding-top: 0.7em;
}
footer p {
    font-size: 80%;
    text-align: right;
}

/* The styles for the classes */
.pad_top {
    padding-top: 0.25em;
}
.no_pad_top {
    padding-top: 0;
}
.margin_left {
    margin-left: 0.5em;
}
.no_underline {
    text-decoration:none;
}
.error_message {
    color: red;
}
/* Dropdown Button #4CAF50*/
.dropbtn {
    background-color: white;
    color: green;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    color: white;
}